@media (min-width: 1200px) {
    .container {
        max-width: 100%;
        width: auto;
    }
}

.jumbotron {
    height: 300px;
    padding: 10px;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.navbar {
    font-size: 15px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* CUSTOM PAGE SETTINGS */

#portlist {
    display: none;
}

.portlistings {
    max-height: 700px;
    overflow: auto;    
}

.portData {
    width: 10%;
}

.map {
    height: 600px;
    width: 100%;
    padding: 15px;
}

.rankedList {
    height: 600px;
    width: 100%;
}

.icon {
    height: 25px;
    width: 25Px;
}

.supplies-table {
    table-layout: auto;
}

.supplies-table td {
    white-space: nowrap;
    width: 25%;
}


.panel {
    padding-bottom: 20px;
    padding: 0;
}

.table {
    margin: 10px 0 0 10px;
    max-width: 99%;
    font-size: 14px;
}

label {
    font-size: 14px;
}

.costs {
    margin: 10px;
}

#accordion {
    width: 40%;
    margin: 15px;
    border: none;
    height: 600px;
    overflow-y: auto;
}

.ui-state-default {
    background: #546575;
    color: #f2efe9;
    border: none;
}
.ui-state-active {
    font-weight: bold;
}

.ui-state-hover {
    font-weight: bold;
}

.ui-widget-content {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #f2efe9;
}

h4 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #546575;
}

.scroll::-webkit-scrollbar {
    width: 12px;
    background-color: #546575;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #df691a;
}